{% load static %}
<!-- 
<h3> Hello World!</h3> 

-->

<!DOCTYPE html>
<html>

<head>
    <title>Ankita Malkar</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/img1.jpeg' %}">
                    <hr>
                    <h4>Hi, I am Ankita!</h4>
                    <p>Python Fresher</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>Summary </h4>
                    <hr>
                    <p>Looking for a challenging role in a reputable organization to utilize my technical,
                        database, and management skills for the growth of the organization as well as to enhance
                        my knowledge about new and emerging trends in the IT sector.</p>
                    <ul class="social-links">
                        <li>
                            <a href="https://www.linkedin.com/in/ankita-malkar-5b535214b/">
                                <img class="social" src="{% static 'images/linkedin.png' %}" />
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Ankita-Malkar">
                            <img class="social" src="{% static 'images/github.png' %}">
                            </a>
                        </li>
                        <li>
                            <a href="mailto:ankitamalkar95@gmail.com">
                            <img class="social" src="{% static 'images/mail.png' %}">
                            </a>
                        </li>
                        <li>
                            <a href="tel:+919890997565">
                            <img class="social" src="{% static 'images/call.png' %}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>Experience</h5>
                    <hr>
                    <p><b>HR Executive-</b>11/2017 to 08/2019</p>
                    <p><b>Amdhan Consulting Solutions Pvt.Ltd, Pune</b></p>
                    <p>-Recruitment<br>
                        -Employee On-boarding<br>
                        -Induction<br>
                        -Salary Negotiation<br>
                        -Training and Development<br>
                        -Performance management and improvement systems<br>
                        -Policy development and documentation<br>
                        -Employee Exit Procedure</p>
                        <h9><b>Certification</b></h9>
                        <hr>
                        <p>Python Certification:(Udemy)</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h6><b>Technical Skills</b></h6>
                    <hr>
                    <p>Progarmming Langauges: Python</p>
                    <p>Web Technologies: HTML, CSS , Django</p>
                    <p>Operating System:Windows,Linux</p>
                    <p>RDBMS:MySQL</p>
                    <h7><b>Skill Highlights</b></h6>
                    <hr>
                    <p>Management</p>
                    <p>Teamwork</p>
                    <p>Problem Solving</p>
                    <p>Creativity</p>
                    <p>Innovative</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h8><b>Education</b></h8>
                    <hr>
                    <p>BE( Computer), Pune University.<br>
                       Sanjivani College of Engineering, Kopargaon.<br>
                       2016</p>
                       <p>HSC, Pune University<br>
                        SSGM College, Kopargaon<br>
                        2012</p>
                        <p>SSC, Pune University<br>
                            SSVM Ravande, Kopargaon<br>
                            2010</p><br>
                           
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h10><b>Achievements</b></h10>
                    <hr>
                    <ul>
                        <li>Participated in project competition held at 
                            John Deere company and was selected till the final round.</li>
                        <li>Winner of runner up Prize “State Level Technical Event
                            DRISHTI of (EUREKA 2K15)”Competition, 
                            held at S.N.J.B’s college of Engineering, Chandwad</li> 
                        <li>Winner of 2nd prize in “State Level TECHNOSANJIVANI 2016 
                            Project Exhibition Competition, held at SRES COE, Kopargaon.</li>    
                        <li>Winner of 3rd prize in “1st IETE Student Forum West
                            Zone Congress-2016 Student Project Competition”, held
                            at CSMSS, Chh. Shahu college of Engineering,
                            Kanchanwadi, Aurangabad</li>
                    </ul>
                       
                </div>
            </div>
        </div>
        <br>
    </div>

</body>

</html>